<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle Financeiro Pessoal</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>
<body>
    <div id="app">
        <%= render("nav.html", conn: @conn)%>
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-2">
                  <%= render("menu.html", conn: @conn)%>
                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column">
                          <%= render("info.html", conn: @conn)%>
                        </div>
                    </div>
                    <%= render @view_module, @view_template, assigns %>
                </div>
            </div>
        </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
