<h2>Edit transactions</h2>

<%= render "form.html", changeset: @changeset,
                        action: transaction_path(@conn, :update, @transactions) %>

<%= link "Back", to: transaction_path(@conn, :index) %>
