.green {
  color: $green;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.bg-green {
  background-color: $green;
  color: #FFFFFF;
  padding:2px;
}

.bg-blue {
  background-color: $blue;
  color: #FFFFFF;
  padding:2px;
}

.bg-red {
  background-color: $red;
  color: #FFFFFF;
  padding:2px;
}
